/* fixed-bar */
.fixed-bar-box-shadow {
   /*position: fixed;*/
   /* width: 100vw;*/
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: center;
   padding-right: 10px;
   background: #555555;
   box-shadow: 0 3px 5px 20px rgba(0, 0, 255, 0);
}

.fixed-bar-search {
    display: flex;
}

.fixed-bar-wrap {
    flex: 0 1 100px;
    display: flex;
    align-items: center;
}

.carrot-logo {
    width: 150px;
}

.fixed-logo {
    width: 150px;
}

.search-input-wrap {
    flex: 0 1 auto;
    flex-basis: 600px;
    border: 1px solid orangered;
    border-radius: 5px;
    padding: 10px 5px 10px 20px;
    margin: 20px 20px;
    width: 600px;
    box-sizing: border-box;
    display: flex;

}
.fixed-search-input {
    width: 520px;
    height: 26px;
    font-size: 22px;
    border: none transparent;
    background: #555555;
    color: coral;
    vertical-align: bottom;
}

.fixed-search-input::placeholder {
    color: coral;
    transform: translateY(3px);
}
.fixed-search-input:focus, .fixed-search-input:active {
    color: coral;
    border: none transparent;
    outline: none;
}


.search-input-wrap #header-search-button {
    border: none transparent;
    background: #555555;
}

.search-input-wrap #header-search-button:hover .fixed-search-icon {
    filter: opacity(50%);
}

.fixed-search-icon {
    width: 26px;
    height: 26px;
}

.fixed-bar-download {
    display: flex;
}

.fixed-download-button {
    border: solid 1px #FF8A3D;
    border-radius: 100px;
    padding: 10px 0 10px 20px;
    text-decoration : none;
    width: 150px;
    flex-grow: 1;
    font-weight: 500;
    display: flex;
    align-items: flex-end;
}

.fixed-download-button:hover {
    border: solid 1px #FF8A3D;
    border-radius: 100px;
    padding: 10px 0 10px 20px;
    text-decoration : none;
    width: 150px;
    flex-grow: 1;
    font-weight: 500;
    display: flex;
    align-items: flex-end;
    color: #555555;
    background-color: #FF8A3D;
}

.fixed-download-button:hover .fixed-google-play, .fixed-download-button:hover .fixed-apple-store {
    filter: brightness(3) invert(1);
}

.fixed-download-button:hover .fixed-download-text {
    color: #555555;
    background-color: #FF8A3D;
}

#header-download-button-ios {
    flex-basis: 110px;
}
#header-download-button-android {
    flex-basis: 126px;
    margin-left: 20px;
}

.fixed-download-text {
    color: #FF843D;
    display: flex;
    padding-left: 10px;
}

/* title */
#header-top {
    display: flex;
    justify-content: center;
}
#header-title, #header-title-desc {
    text-align: center;
}

#header-title {
    font-size: 36px;
    color: #282c34;
}

#header-title-desc {
    padding-top: 15px;
    color: #282c34;
}

#header-title-wrap {
    box-sizing: border-box;
    padding-top: 6%;
    width: 100vw;
    background-color: darkgray;
}

#top-keywords {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

#top-keywords-title {
    display: flex;
    border-bottom: 1px solid black;
}

#top-keywords-list {
    padding-top: 20px;
}

#top-keywords-title a, #top-keywords-list a {
    color: #282c34;
    text-decoration: none;
}

#top-keywords-list a {
    font-size: 17px;
}

#top-keywords-link:hover, #top-keywords-list a:hover {
    color: orangered;
}
.right-arrow {
    display: block;
    width: 90px;
    height: 30px;
}

#top-keywords-article {
    flex: 0 1 210px;
}

#top-keywords-title-text {
    font-size: 17px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}

.top-keywords-list-contents {
    display: flex;
    padding: 8px 0;
    justify-content: space-between;
    align-items: flex-end;
}

.list-number {
    font-weight: bold;
}

.keyword-text {
    padding-left: 5px;
}

.rank {
    margin-left: auto;
    font-size: 12px;
    align-items: center;
}

.rank .up {
    color: crimson;
}

.rank .down {
    color: dodgerblue;
}

.changed_rank {
    padding-left: 5px;
}